@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using SampleBlazorApp
@using SampleBlazorApp.Components
@using SampleBlazorApp.Components.Layout

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
